.node-list {
  &--esurveypro {
    .node-list {
      &__node:first-child {
        @include marko-web-node-list-border(border-top);
      }
    }
  }
}

// Specific overrides to css file being imported with script.
/* stylelint-disable declaration-no-important, selector-class-pattern */
.node-list--inner-justified {
  div[id^="ESP_container"] { /* stylelint-disable-line selector-no-qualifying-type */
    width: 100%;
    height: 100%;
  }
  .ESP {
    &-box,
    &-box-outer,
    &-box-inner,
    &-box-top {
      height: 100% !important;
    }
    &-box-top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    &-answer {
      flex-grow: 1;
    }
  }
}

.ESP {
  &-box {
    width: 100% !important;
    margin: 0 !important;
  }
  &-answer {
    width: calc(100% - 30px) !important;
    .radio,
    input[type="radio"] { /* stylelint-disable-line selector-no-qualifying-type */
      float: left !important;
      margin-left: initial !important;
    }
    label[class^="ESP-answer"] { /* stylelint-disable-line selector-no-qualifying-type */
      width: calc(100% - 30px);
      padding-top: 3px;
      margin-left: 15px;
    }
  }
  &-question-top {
    padding-top: $block-spacer * 0.5;
    padding-bottom: $block-spacer * 0.5;
    margin: ($block-spacer * 0.5) 0 !important;
    font-family: $skin-font-family-primary !important;
    font-size: 17px !important;
    font-weight: $font-weight-semibold !important;
    line-height: 1.25 !important;
    color: $gray-800 !important;
    letter-spacing: inherit !important;
  }
  &-votebutton-outer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 8px !important;
    margin-top: $block-spacer;
    @include marko-web-node-list-border(border-top);
    br {
      display: none !important;
    }
  }

  &-viewResult,
  &-votebutton {
    width: auto !important;
    height: auto !important;
    padding: 12px !important;
    margin: 0 !important;
    margin-top: 16px !important;
    font-family: $skin-font-family-primary !important;
    font-size: 12px !important;
    font-weight: $font-weight-bold !important;
    line-height: 1.25 !important;
    color: #fff !important;
    text-align: center !important;
    text-transform: uppercase !important;
    letter-spacing: .8px !important;
    vertical-align: middle !important;
    background-color: #436daa !important;
    border: none !important;
    border-radius: 4px !important;
  }
}
/* stylelint-enable declaration-no-important, selector-class-pattern */
