.node-list {
  &--esurveypro {
    .node-list {
      &__node:first-child {
        @include marko-web-node-list-border(border-top);
      }
    }
  }
}

// Specific overrides to css file being imported with script.

.ESP {
  &-box {
    width: 100% !important;
    margin: 0 !important;
  }
  &-answer {
    width: calc(100% - 30px) !important;
    .radio,
    input[type="radio"] {
      margin-left: initial !important;
    }
  }
  &-question-top {
    padding-top: $block-spacer / 2;
    padding-bottom: $block-spacer / 2;
    margin: ($block-spacer / 2) 0 !important;
    font-family: $skin-font-family-primary !important;
    font-size: 17px !important;
    font-weight: $font-weight-semibold !important;
    line-height: 1.25 !important;
    color: $gray-800 !important;
    letter-spacing: inherit !important;
  }
  &-votebutton-outer {
    margin-top: $block-spacer;
    @include marko-web-node-list-border(border-top);
  }

  &-viewResult,
  &-votebutton {
    width: auto !important;
    height: auto !important;
    padding: 12px !important;
    margin-top: ($block-spacer / 2) !important;
    font-family: $skin-font-family-primary !important;
    font-size: 12px !important;
    font-weight: $font-weight-bold !important;
    line-height: 1.25 !important;
    color: #fff !important;
    text-align: center !important;
    text-transform: uppercase !important;
    letter-spacing: .8px !important;
    vertical-align: middle !important;
    background-color: #436daa !important;
    border: none !important;
    border-radius: 4px !important;
  }
}
