.node-list {
  $self: &;
  &--featured-jobs {
    .btn {
      padding: map-get($spacers, "block-sm");
      font-size: 12px;
    }
    #{ $self }__footer {
      display: flex;
      justify-content: space-between;
      @include marko-web-node-list-border(border-top);
      padding-bottom: map-get($spacers, "block");
      font-weight: $font-weight-bold;
    }
    .node-list {
      &__header {
        @include marko-web-node-list-border(border-bottom);
        padding-bottom: 1rem;
        margin-bottom: 0;
      }
      &__node:first-child {
        padding-top: map-get($spacers, "block-sm");
      }
      &__nodes {
        flex-grow: 0;
        border-bottom: none;
      }
    }
    .node {
      &__text {
        &--teaser {
          font-family: inherit;
        }
      }
    }
  }
}

.featured-jobs {
  $self: &;
  padding-top: 50px;
  padding-bottom: 50px;
  @include media-breakpoint-down(md) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__banner {
    &--left {
      @include media-breakpoint-down(sm) {
        display: flex;
        justify-content: center;
      }
    }
    &--right {
      display: flex;
      justify-content: flex-end;
      @include media-breakpoint-down(sm) {
        justify-content: center;
        padding-top: 15px;
      }
      .btn-secondary {
        margin-left: 15px;
      }
    }
  }
  &__header {
    @include skin-typography($style: "section-header");
    // padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    @include media-breakpoint-down(sm) {
      padding-left: 15px;
    }
    // border-bottom: 1px solid $gray-700;
    font-size: 18px;
    text-transform: none;
    @include media-breakpoint-down(lg) {
      font-size: 18px;
      text-transform: none;
    }
  }
  .premium-employers {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.card-deck-flow {
  $self: &;
  &--premium-employers {
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
    #{ $self }__node {
      @include media-breakpoint-down(md) {
        // @include make-col-ready();
        @include make-col(6);
      }
    }
  }
  &--featured-jobs {
    @include media-breakpoint-down(sm) {
      margin: 0;
    }
    margin-bottom: -20px;
    .node {
      background-color: $white;
      &__contents {
        padding: 7.5px;
      }
      &__header {
        display: none;
      }
    }
  }
}
