.premium-employers {
  &__header {
    padding-bottom: 10px;
    margin-bottom: 24px;
    border-bottom: 1px solid $gray-700;
    @include media-breakpoint-up(md) {
      margin-bottom: 30px;
    }
    @include skin-typography($style: "section-header");
  }
}

.node {
  $self: &;
  &--premium-employers {
    #{ $self }__body {
      display: none;
    }
  }
}

.page-wrapper {
  &__section {
    &--break-container {
      .premium-employers {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }
}
