version: '3.7'

x-node-defaults: &node
  tty: true
  init: true
  image: node:14.21
  entrypoint: ["node"]
  working_dir: /root
  restart: always
  volumes:
    - ./:/root:cached
    - ./node_modules:/root/node_modules:delegated
    - yarn-cache:/.yarn-cache

x-env-defaults: &env
  IDENTITYX_GRAPHQL_URI: 'https://identity-x.parameter1.com/graphql'
  CSS_MODE: ${CSS_MODE-optimized}
  GTM_CONTAINER_ID: ${GTM_CONTAINER_ID}
  NEW_RELIC_ENABLED: ${NEW_RELIC_ENABLED-0}
  NEW_RELIC_LICENSE_KEY: ${NEW_RELIC_LICENSE_KEY-(unset)}
  NODE_ENV: development
  OMEDA_APP_ID: ${OMEDA_APP_ID-(unset)}
  OMEDA_INPUT_ID: ${OMEDA_INPUT_ID-(unset)}
  OMEDA_GRAPHQL_URI: ${OMEDA_GRAPHQL_URI-https://graphql.omeda.parameter1.com}
  IDENTITYX_API_TOKEN: ${IDENTITYX_API_TOKEN-(unset)}
  RECAPTCHA_V3_SITE_KEY: ${RECAPTCHA_V3_SITE_KEY-}
  RECAPTCHA_V3_SECRET_KEY: ${RECAPTCHA_V3_SECRET_KEY-}
  BASE_BROWSE_GRAPHQL_URI: ${BASE_BROWSE_GRAPHQL_URI-https://browse.virgon.mindful-web.parameter1.com/graphql}
  SENDGRID_API_KEY: ${SENDGRID_API_KEY-(unset)}
  SENDGRID_DEV_TO: developer@endeavorb2b.com
  YARN_CACHE_FOLDER: /.yarn-cache
  ENABLE_CONTENT_METER: ${ENABLE_CONTENT_METER-false}
  SUGGESTED_VIDEO_ID: ${SUGGESTED_VIDEO_ID-},
  SUGGESTED_VIDEO_PLAYLIST: ${SUGGESTED_VIDEO_PLAYLIST-}
  USE_LINK_INJECTED_BODY: ${USE_LINK_INJECTED_BODY-false}
  IDX_NAV_ENABLE: ${IDX_NAV_ENABLE-false}
  NATIVEX_SERVE_URI: ${NATIVEX_SERVE_URI-}

x-env-leonis: &env-leonis
  GRAPHQL_URI: ${GRAPHQL_URI-https://graphql.leonis.mindful-web.parameter1.com}
  OEMBED_URI: ${OEMBED_URI-https://oembed.leonis.mindful-web.parameter1.com}
  RSS_URI: ${RSS_URI-https://rss.leonis.mindful-web.parameter1.com}
  SITEMAPS_URI: ${SITEMAPS_URI-https://sitemaps.leonis.mindful-web.parameter1.com}

x-env-virgon: &env-virgon
  GRAPHQL_URI: ${GRAPHQL_URI-https://virgon.graphql.mindful-web.parameter1.com}
  OEMBED_URI: ${OEMBED_URI-https://virgon.oembed.mindful-web.parameter1.com}
  RSS_URI: ${RSS_URI-https://virgon.rss.mindful-web.parameter1.com}
  SITEMAPS_URI: ${SITEMAPS_URI-https://virgon.sitemaps.mindful-web.parameter1.com}

x-env-development: &env-development
  GRAPHQL_URI: ${GRAPHQL_URI-http://host.docker.internal:10002}
  OEMBED_URI: ${OEMBED_URI-http://host.docker.internal:10013}
  RSS_URI: ${RSS_URI-http://host.docker.internal:10011}
  SITEMAPS_URI: ${SITEMAPS_URI-http://host.docker.internal:10009}

x-site-command: &site-cmd
  <<: *node
  entrypoint: ["yarn"]
  command: ["dev"]

volumes:
  yarn-cache: {}

services:
  terminal:
    <<: *node
    working_dir: /root
    entrypoint: ["/bin/bash"]
    environment:
      <<: *env

  yarn:
    <<: *node
    working_dir: /root
    entrypoint: ["yarn"]
    environment:
      <<: *env

  de:
    <<: *site-cmd
    working_dir: /root/sites/diverseeducation.com
    environment:
      <<: *env
      PORT: 80
      EXPOSED_PORT: 9810
      LIVERELOAD_PORT: 19810
    ports:
      - "9810:80"
      - "19810:19810"

  dm:
    <<: *site-cmd
    working_dir: /root/sites/diversemilitary.net
    environment:
      <<: *env
      PORT: 80
      EXPOSED_PORT: 9811
      LIVERELOAD_PORT: 19811
    ports:
      - "9811:80"
      - "19811:19811"

  dh:
    <<: *site-cmd
    working_dir: /root/sites/divhealth.net
    environment:
      <<: *env
      PORT: 80
      EXPOSED_PORT: 9812
      LIVERELOAD_PORT: 19812
    ports:
      - "9812:80"
      - "19812:19812"

  ccn:
    <<: *site-cmd
    working_dir: /root/sites/ccnewsnow.com
    environment:
      <<: *env
      PORT: 80
      EXPOSED_PORT: 9813
      LIVERELOAD_PORT: 19813
    ports:
      - "9813:80"
      - "19813:19813"
