import { getAsArray } from "@parameter1/base-cms-object-path";
import shuffle from "@cox-matthews-associates/package-global/utils/shuffle-array";
import CCN from "@cox-matthews-associates/package-global/components/blocks/promos/ccnews-now";
import Jobs from "@cox-matthews-associates/package-global/components/blocks/promos/diverse-jobs";
import Health from "@cox-matthews-associates/package-global/components/blocks/promos/diverse-health";
import Military from "@cox-matthews-associates/package-global/components/blocks/promos/diverse-military";
import Podcasts from "./promos/podcasts";
import NativeX from "./promos/native-x";

$ const { nativeX: nxConfig } = out.global;
$ const placement = nxConfig.getPlacement({ name: "promotion" });

$ const Promos = shuffle([CCN, Jobs, Health, Military, NativeX]);
$ const Promos2 = shuffle([Podcasts, NativeX]);
$ const blockName = "callout-cards";

<marko-web-block name=blockName>
  <marko-web-element block-name=blockName name="row">
      <${Promos2[0]} />
    <marko-web-element block-name=blockName name="col" modifiers=["last"]>
      <${Promos[1]} />
    </marko-web-element>
  </marko-web-element>
</marko-web-block>
