.emerging-scholars {
  .page-banner {
    display: flex;
    justify-content: space-between;
    padding: map-get($spacers, 2) map-get($spacers, block);
    background-color: $primary;
  }
  .header {
    overflow: hidden;
    background-color: $black;
  }
  .video-frame {
    position: relative;
    width: 100%;
    margin: 150px auto;
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      min-width: 100%;
      height: auto;
      min-height: 100%;
      opacity: .5;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  .video-overlay {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    color: $white;
  }
  .intro {
    color: $white;
    a {
      color: $white;
    }
  }
  .awards-menu,
  .award-years {
    &__toggler,
    &__toggler:focus {
      background: transparent;
      border: none;
    }
  }
  .past-issues {
    a {
      color: $primary;
    }
    .award-years {
      &__toggler,
      &__toggler:focus {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: map-get($spacers, 3);
        background: $gray-100;
        border: none;
        outline: none;
        span {
          font-weight: $font-weight-bold;
        }
      }
    }
    .emerging-scholars-award-years {
      .node-list{
        &__nodes {
          padding-top: 0;
        }
      }
      padding-right: map-get($spacers, block);
      padding-left: map-get($spacers, block);
      background-color: $gray-100;
    }
  }

  .node-list,
  .card-deck-flow {
    &--emerging-scholars {
      .section-feed-content-node {
        &__content-teaser {
          margin-bottom: map-get($spacers, block);
        }
      }
      .call-to-action {
        @include skin-button($style: "primary");
      }
    }
  }

  .emerging-scholars-award-years {
    display: none;
    &--open {
      display: block;
    }
  }
  .emerging-scholars-menu {
    position: absolute;
    z-index: 1;
    display: none;
    width: calc(100% - 30px);
    @include media-breakpoint-up(lg) {
      width: calc(100% - 20px);
    }
    background-color: $primary;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, .1), 0 20px 20px 0 rgba(0, 0, 0, .15);
    &--open {
      display: block;
    }
  }
}
