.page-contents {
  &__content-body {
    // stylelint-disable-next-line selector-no-qualifying-type
    [data-embed-id="655bb0903f117aab6c8b45e3"]{
      width: 400px;
      @include media-breakpoint-down(md){
        width: auto;
        margin-left: 0;
      }
    }
  }
}
