@if $navbarStyle == "navbar2" {
  .site-navbar {
    $self: &;
    &__container {
      display: flex;
      align-items: center;
      justify-content: space-between;

      max-width: $marko-web-document-container-max-width;
      @include media-breakpoint-up(xl, $grid-breakpoints) {
        max-width: $marko-web-document-container-max-width;
      }
    }
    &__brand {
      margin: 0;
    }
    &--top {
      width: 100%;
      height: 88px;
      @media (max-width: map-get($theme-site-header-breakpoints, small-logo)) {
        height: 58px;
      }
      padding-top: 10px;
      background-color: $white;
      border-bottom: 1px solid $gray-400;
      #{ $self } {
        &__left {
          padding-left: 0;
          @media (max-width: map-get($theme-site-header-breakpoints, small-logo)) {
            display: none;
          }
        }
        &__center {
          align-self: flex-start;
        }
        &__right {
          display: flex;
          justify-content: flex-end;
          @media (min-width: map-get($theme-site-header-breakpoints, small-logo)) {
            padding-right: 0;
          }
          .btn,
          #{ $self }__toggler {
            width: 40px;
            height: 40px;
            padding: 0;
            margin: 0 0 0 12px;
            background-color: $gray-100;
            border-radius: 4px;
          }
        }
      }
      .subscribe-box {
        display: flex;
        &--cover-image {
          align-self: flex-end;
        }
        &--call-to-action {
          align-self: center;
          .btn-primary {
            padding: 8px;
            margin-left: 16px;
            font-size: 12px;
            text-transform: initial;
          }
        }
      }
    }
    &--primary {
      background-color: $white;
      #{ $self } {
        &__link {
          color: $gray-800;
          text-transform: initial;
        }
        &__items {
          justify-content: space-between;
        }
      }
      .site-navbar {
        &__item {
          flex-grow: unset;
          padding-right: 0;
          padding-left: 0;
        }
      }
    }
  }
}
