import queryFragment from "@cox-matthews-associates/package-theme-monorail/graphql/fragments/content-list";

$ const { id, alias, name, pageNode } = input;

<global-website-section-feed-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
>
  <@section|{ aliases }| modifiers=["break-container"]>
    <global-featured-jobs-block />
  </@section>

  <@section>
    <site-promo-card-rotation-block />
  </@section>

  <@section>
    <theme-client-side-most-popular-block />
  </@section>

</global-website-section-feed-layout>
