import queryFragment from "@mindful-web/marko-web-theme-monorail/graphql/fragments/content-list";

$ const { id, alias, name, pageNode } = input;

<global-website-section-cards-layout
  id=id
  alias=alias
  name=name
  page-node=pageNode
/>
