$theme-site-header-breakpoints: (
  hide-primary: 1100px, // effectively always hide the primary nav
  hide-secondary: 700px,
  small-logo: 775px,
  small-text-primary: 0,
  small-text-secondary: 830px
);

$navbarStyle: "navbar-b";
$theme-site-navbar-primary-type: light;

// Colors
$primary: #436daa;
@import "@cox-matthews-associates/package-global/scss/core";
